:root {
    --main-color: #FFBF23;
    --main-font: 'PT Serif', serif;
    --main-font1: sans-serif;
}
body {
    transition: all .7s ease-out;
    scroll-behavior: smooth;
    margin: .5rem 1rem;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 89px;
}

button{
    padding: 5px 10px;
    background-color: var(--main-color);
    font-weight: bolder;
    border: none;
    font-size: 15px;
    box-shadow: 1.7px 1.7px 2px black;
    border-radius: 5px;
}

.align {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.align2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: white;
    z-index: 10000;
    border-radius: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    list-style: none;
}

li {
    margin-right: 2.5rem;
    cursor: pointer;
}

nav img {
    margin-left: 2rem;
    width: 60px;
    height: 60px;
    /* background-image: linear-gradient(315deg, #d1f7ff 0%, #61bff6 74%); */
}

.login_signup li,
.login_signup2 {
    background-color: var(--main-color);
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
.loadingWheel2{
    width: 17px;
    height: 17px;
    border-top: 2px solid var(--main-color);
    animation: spin 1s linear infinite;
    border-radius: 100px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1199px) {
    nav ul {
        margin: 0px;
    }

    .main_home h1 {
        font-size: 7rem;
    }
}

@media screen and (max-width: 994px) {
    li {
        font-size: 13px;
    }
}

@media screen and (max-width: 710px) {
    li {
        margin: 0px 6px;
    }

    nav img {
        margin-left: 20px;
        width: 50px;
        height: 50px;
        padding: 2px;
    }
}

@media screen and (max-width: 516px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 1rem;
    }

    .menu-line {
        width: 27px;
        height: 4px;
        border-radius: 20px;
        background-color: #000;
        margin: 2px 10px;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-links.open li {
        margin-bottom: 2rem;
        font-size: 14px;
    }
}
@media screen and (max-width: 387px) {
    nav ul {
        padding: 0px;
    }
}