.User_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.User_main h1 {
    font-size: 3.5rem;
    font-family: var(--main-font);
    margin: 20px 0px;
}

.User_main h2 {
    font-size: 2rem;
    margin-top: -1rem;
}

.User_main img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 4px solid var(--main-color);
    margin: 10px;
}

.align {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.align2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.User_main button {
    padding: 7px 15px;
    background-color: var(--main-color);
    font-weight: bolder;
    border: none;
    font-size: 15px;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
}

.align div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.User_main input,
.User_main textarea {
    font-size: 15px;
    padding: 1rem 1rem;
    width: 300px;
    border-radius: 10px;
    border: 1.5px solid gray;
    margin: 0px 10px;
    font-family: var(--main-font);
}

.User_main input::placeholder,
.User_main textarea::placeholder {
    font-size: 16px;
    color: black;
}

/* todo */

.socialIcons {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(4, 20rem);
    place-items: center;
}

.socialIcons i {
    padding: 12px;
    border-radius: 100px;
    font-size: 2rem;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcons div {
    border: 1px solid gray;
    width: 230px;
    height: 250px;
    background-color: rgb(244, 244, 244);
    border-radius: 30px;
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.socialIcons button:hover {
    cursor: pointer;
}

.socialIcons div h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.socialIcons div input {
    padding: 5px;
    width: 200px;
    margin-bottom: 0px;
}

.box {
    display: flex;
    margin: 20px 0px;
}

.box i {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.box h4 {
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box button {
    margin: 0px 10px;
}

.alignSocial {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignSocial2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addSocial h2 {
    margin: 0px;
}

.cards {
    background-color: aliceblue;
    padding: 3rem 1rem;
    border-radius: 30px;
}

.socailCard input {
    margin-top: 5px;
}


.authNav ul :nth-child(2) {
    background-color: var(--main-color);
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.authNav li img {
    width: 50px;
    height: 50px;
    padding: 0px;
    border-radius: 20px;
}

.authNav ul {
    margin: 4px 0px;
}

.authNav {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    border: .1px solid black;
    background-color: rgb(255, 252, 236);
    border-radius: 60px;
}

.loadingWheel {
    margin: 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-top: 4px solid var(--main-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 949px) {
    .socialIcons {
        grid-template-columns: repeat(2, 20rem);
        grid-template-rows: repeat(5, 20rem);
    }
}

@media screen and (max-width: 640px) {

    .User_main input::placeholder,
    .User_main textarea::placeholder {
        font-size: 12px;
    }

    .User_main button {
        font-size: 13px;
        padding: 5px 10px;
    }

    .cards {
        font-size: 12px;
    }

    .User_main img {
        width: 87px;
        height: 87px;
    }

    .User_main input {
        width: 173px;
        font-size: 12px;
    }
    .User_main textarea{
        font-size: 12px;
    }

    .socialIcons div {
        width: 210px;
        height: 250px;
    }

    .socialIcons {
        grid-template-columns: repeat(2, 14rem);
        grid-template-rows: repeat(5, 17rem);
    }

    

    .User_main h1 {
        font-size: 2.7rem;
    }

    .User_main h2 {
        font-size: 1.3rem;
    }

    .align2 {
        flex-direction: column;
    }

    .align2 button {
        margin: 15px 0px;
    }

    .authNav img {
        margin-left: -5px;
    }
}

@media screen and (max-width: 515px) {
    .socialIcons div {
        width: 180px;
        height: 240px;
    }

    .socialIcons div input {
        width: 143px;
    }

    .socialIcons {
        grid-template-columns: repeat(2, 12.5rem);
        grid-template-rows: repeat(6, 16rem);
    }

    .box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}