body {
    margin: .5rem 1rem;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 10px;
}

.About_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background-color: var(--main-color);
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    border-radius: 5px;
    padding-top: 3rem;
}

.About_main div img {
    width: 210px;
    height: 210px;
    margin-top: 10px;
}

.About_main_secondary_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 2rem;
}

.About_main_secondary_div h4 {
    margin-top: -2rem;
    font-weight: bolder;
}

.About_main_secondary_div p {
    margin-top: -2rem;
    font-size: 15px;
    text-align: center;
    padding: 0px 10px;
    line-height: 30px;
}

.About_main h2 {
    text-align: center;
    font-size: 4rem;
}

.About_main_secondary_div {
    background-color: white;
    width: 330px;
    height: 380px;
    border-radius: 40px;
    /* border: 1px solid black; */
    box-shadow: 1px 2px 4px black;
}

.About_main_primary_div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 1199px) {
    .About_main h2 {
        font-size: 3rem;
    }

    .About_main_secondary_div {
        width: 274px;
        height: 350px;
    }

    .About_main div img {
        width: 178px;
        height: 178px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 1078px) {
    .About_main_secondary_div {
        margin: 0px 1rem;
    }

    .About_main div img {
        width: 170px;
        height: 170px;
    }

    .About_main_secondary_div h4 {
        margin-top: -1rem;
    }

    .About_main_secondary_div p {
        font-size: 16px;
    }

    .About_main {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 994px) {
    .About_main h2 {
        font-size: 2rem
    }
}

@media screen and (max-width: 937px) {
    .About_main_secondary_div {
        width: 247px;
    }

    .About_main div img {
        width: 140px;
        height: 140px;
    }

    .About_main_secondary_div h4 {
        font-size: 1.4rem;
    }

    .About_main_secondary_div p {
        font-size: 15px;
    }
}

@media screen and (max-width: 848px) {
    .About_main_primary_div {
        flex-direction: column;
    }

    .About_main_secondary_div h4 {
        margin-top: -1rem;
        margin-bottom: 37px;
    }

    .About_main_secondary_div {
        width: 459px;
        height: 289px;
        margin-bottom: 2rem;
    }

    .About_main div img {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 559px) {
    .About_main_secondary_div {
        width: 300px;
        height: 320px;
        margin-bottom: 2rem;
    }

    .About_main div img {
        width: 150px;
        height: 150px;
    }
}