.FinalDisplay_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}
body{
    border: none;
    margin: 0px;
}

.finalCard {
    justify-content: space-between;
    border-radius: 100px;
    padding: 0rem 0rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    margin: 1rem 0rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(51, 55, 55);
    color: white;
    transition: all .1s ease-out;
    user-select: none;
    width: 24rem;
}

.slug_finalCard {
    width: 40rem;
}

.finalCard:hover {
    transform: scale(1.03);
    color: greenyellow;
    cursor: pointer;
}

.finalCard i {
    background-color: white;
    width:  45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 20px;
}



a {
    text-decoration: none;
    color: black;
}

.FinalDisplay_main img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.FinalDisplay_main span {
    font-size: 17px;
    text-align: center;
    font-size: 15px;
}


.loadingWheel {
    margin: 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-top: 4px solid var(--main-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.errorContainer{
    margin-top: -3rem;
}

.FinalDisplayNav {
    margin: 1rem 10rem 0rem 10rem;
}

.FinalDisplayNav img {
    border-radius: 100px;
}

.FinalDisplayNav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.FinalDisplayNav ul :nth-child(2) {
    font-size: 20px;
}

@media screen and (max-width: 848px) {
    .FinalDisplayNav {
        margin: 0px 1rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 610px) {
    .FinalDisplay_main span {
        padding: 0rem 1rem;
    }

    .FinalDisplayNav ul :nth-child(2) {
        font-size: 15px;
    }

    .FinalDisplayNav ul button {
        font-size: 13px;
    }
}

@media screen and (max-width: 667px) {
    .FinalDisplay_main img {
        width: 70px;
        height: 70px;
    }

    .slug_finalCard {
        width: 25rem;
    }
}

@media screen and (max-width: 452px) {
    .finalCard {
        width: 20rem;

    }
    .FinalDisplay_main span {
        font-size: 15px;
    }
}